.search-name-area {
    width: 20%;
    margin-left: 80%;
}

.search-form {
    width: 100%;
}

.search-button {
    font-size: 16px;
}

.search-text {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #333;
}